:root {
--navyblue: #0f0930;
--black: #000000;
--white: #ffffff;
--aqua: #31a6aa; 
--lightblue: #73a9c2;
--font1: 'Arial';
--font2: 'Serif';
}
   
/* removing default styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

/* header styling */
  header {
    
    background-color:#758da3; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight:bold;
  }

  h1{

    color:var(--navyblue);
    font-size:40px;
    /* font-weight:bold; */
    background-color:#aaa2a2;
    padding:10px;
    border:5px solid #aaa2a2;
    box-shadow: 4px 4px 6px #0f0930;
    ;
      }
  
   h2{

font-size:45px;

   }
    /* margin-top: 22px;
   margin-right: 10px;
   margin-left:0; */
    /* padding: 20px;
    display: inline-flex;
    font-size:35px;
    border-style:solid;
    margin-left: 0%; */
    /* position: relative; */
  
/* styling portfolio name */
  
/* styling list of links */
  
 nav ul li {
padding-top: 15px;
margin-top:15px;
margin-bottom: 20px;
margin-right:20px;
margin-left: 20px;
float:left;
font-family: var(--font1);
display:flex;
justify-content: center;
list-style-type: none;
        
        }
    

 a{

    font-style: var(--font1);
    font-size: 24px;
    color: var(--navyblue);
    font-weight: bold;
  }


 /* .myimage {
object-fit: cover;
object-position: top;
width:100%;
height:600px;
margin-bottom:25px; */
/* width:100%;
height: 650px;
margin-bottom: 25px;
object-fit: cover;
object-position: top; */

  
  
  /* nav p {
    padding: 14px 20px;
    text-decoration: var(--aqua);
  } */
 .pictureheader{
background-image: url('../assets/images/img-header.jpg');
height: 400px;
background-size: cover;
background-position: center;
display:flex;
align-items: center;
justify-content: space-around;

  }

.float-left{
float:left;

}
.float-right{
    float:right;
    
    }

.pictureheader blockquote{

    font-size: 30px;
    display:flex;
    flex-flow: column;
    justify-content:left;
    text-align:center;
    color:var(--white);

}
.pictureheader img{

    height:350px;

}
  main{
background-color: var(--lightblue);

  }
  body {
    font-family: var(--font2);
    color: var(--black);
    background-color: var(--lightblue);
}

/*  sections settings*/
  
section {
  display:inline-flex;
     background-color:var(--lightblue);
     padding: 20px;
   }
/* styling subheadings like about me work etc. */
.subheading{
border-right: 5px solid var(--navyblue);
text-align:center;
padding-right: 36px;
min-width:20%;
max-width:20%;
vertical-align: middle;
}

/* styling about me section */
.aboutme{

display:flex;
align-items: stretch;
justify-content: space-between;
/* padding:0px 30px; */
}
.aboutme p  {
    

    padding: 0 30px;
    line-height:1.6;
    font-size: 22px;  
    width: 90%;}
   
/* about me styling ends */
    
/* my work section */

.work{

    display:flex;
    justify-content:space-between;
    /* flex-direction: column; */
    /* align-items: center;*/
    /* padding: 0px 30px; */
    background-color: var(--white) ;
}

/* creating project/my work section */



/* styling the project work section */

.work-projects{
  display:flex;
  /* justify-content: */
  align-items:flex-end;
  border: solid;
  color:var(--navyblue);
  background-size:cover;
  background-position: center;
  opacity: 0.5;
  text-decoration: none;
}

.work-projects:hover{

  opacity: 1;

}
/* creating a grid layout to view projects */
.gridsection{

display:grid;
align-content: center;
width: 80%;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(4,1fr);
gap: 10px;
}

/*  */
.wrapper {

  display:flex;
  justify-content:center;
width:80px;
height:550px; 

width: 100%;
padding: 10px;

}


/* end of creating a project grid */

.refactorchallenge{

  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../assets/images/Horiseon.jpg");

}

.prework-study-guide{

 background-position:50% 15%;
  background-image: url("../assets/images/study-guide.jpg");

}

.project3{
  background-image: url("../assets/images/project-3.png");
  /* background-position: 60% 50%; */

}

.project4{

  background-image: url("../assets/images/project-4.png");
  background-position: 60% 50%; 
}

.project5{

  background-image: url("../assets/images/project-5.png");
  background-position: 60% 50%; 

}

/* project label at the top*/
.project-title{
  background-color: rgb(36, 137, 177);
  color: var(--navyblue);
  padding:5px; 
  
  /* align-self: flex-start; */
  /* flex-flow: column-reverse; */
  }

  footer {
    padding: 20px;
    text-align: center;
  }
  